@media screen and (max-width: 400px){
  body {
    padding: 0 5%;
    flex-direction: column;
  }
header .topo {
   margin-top: -200px;
   background: no-repeat center/100% url(img/Pagina01\ \(1\)_page-0001.jpg);
}
.textocapa {
font-size: 12px;
margin-top: -200px;
max-width: 350px;
}
div.paginas{
margin-right: 00px;
}
div.churico {
margin: 10px;
}
img.churico {
width: 350px;
height: 300px;
margin-left: 0px;
}
div.colunas {
display: flex;
flex-direction: column;
}
div.esportes {
width: 300px;
height: 200px;
border-radius:20px 20px 20px 20px;
border: 2px solid black;
text-align: left;
margin-left: 30px;
font: bolder;
}
div.geral {
margin: 5px;
width: 300px;
height: 200px;
border-radius:20px 20px 20px 20px;
border: 2px solid black;
text-align: left;
margin-left: 30px;
font: bolder;
}
img.lucio{ 
border-radius:20px 20px 20px 20px;
width: 340px;
height: 400px;
margin-left: 10px;
}
img.nogueira {
display: none;
}

div.noguera {
background: no-repeat center/95% url(img/WhatsApp\ Image\ 2024-12-14\ at\ 00.45.59.jpeg);
height: calc(93vh - 250px);
margin-top: -190px;
}
button {
    margin-top: 233%;
    margin-left: 260px;
    font-size: 10px;
    letter-spacing: 0px;
    text-transform: uppercase;
    display: inline-block;
    text-align: left;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #ff0000;
    border-radius: 2px;
    position: fixed;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #a80c13;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }
  img.pg2 {
    display: none;
  }
  div.cabeçalho {
    background: no-repeat center/100% url(img/cabeçalho\ pg\ 2.jpg);
    height: 100px;
    margin-top: -250px;
    margin-left: -30px;
    width: 420px;
    height: 550px;
  }

  div.gide {
    background: no-repeat center/100% url(img/gideao.jpg);
    height: calc(100vh - 400px);
    margin-top: -250px;
  }

  div.papainoel {
    background: no-repeat center/100% url(img/papi\ noel.jpg);
    height: calc(100vh - 400px);
  }

  div.grandesmentes {
    background: no-repeat center/100% url(img/grandes\ mentes.jpg);
    height: 250px;
  }

  footer.rodape {
    background: no-repeat center/100% url(img/rodape.jpg);
    height: 50px;
  }

  div.cabeçalhopg3 {
    background: no-repeat center/93% url(img/cabeçalhopg3.jpg);
    height: 100px;
    margin-top: -250px;
    margin-left: -35px;
    width: 420px;
    height: 550px;
  }

  div.agricultura {
    background: no-repeat center/100% url(img/agricultura.jpg);
    height: calc(100vh);
    margin-top: -260px;
  }

  div.terreno {
    background: no-repeat center/100% url(img/terreno.jpg);
    height: calc(100vh - -100px);
    margin-left: 40px;
  }

  div.cabeçalhopg4 {
    background: no-repeat center/93% url(img/cabeçalhopg4.jpg);
    height: 100px;
    margin-top: -250px;
    margin-left: -35px;
    width: 420px;
    height: 550px;
  }

  div.cidade {
    background: no-repeat center/100% url(img/cidade.jpg);
    height: calc(110vh);
    margin-top: -270px;
  }

  div.bairro {
    background: no-repeat center/100% url(img/bairro.jpg);
    height: calc(100vh - -100px);
    margin-left: 30px;
  }

  div.cabeçalhopg5 {
    background: no-repeat center/93% url(img/cabeçalhopg5.jpg);
    height: 100px;
    margin-top: -250px;
    margin-left: -35px;
    width: 420px;
    height: 550px;
  }

  div.construçao {
    background: no-repeat center/100% url(img/construçao.jpg);
    height: calc(130vh);
    margin-top: -280px;
  }

  div.coral {
    background: no-repeat center/100% url(img/coral.jpg);
    height: calc(100vh);
    margin-left: 0px;
  }

  div.cabeçalhopg6 {
    background: no-repeat center/93% url(img/cabeçalho\ pg6.jpg);
    height: 100px;
    margin-top: -250px;
    margin-left: -35px;
    width: 420px;
    height: 550px;
  }

  div.futbol {
    background: no-repeat center/100% url(img/futbol.jpg);
    height: 100vh;
    max-width: 1000px;
    max-height: 1000px;
    margin-top: -560px;
  }

  div.cimaT {
    background: no-repeat center/90% url(img/1cima.jpg);
    height: calc(25vh);
    margin-top: -320px;
  }
  div.cimae {
    background: no-repeat center/90% url(img/cima2.jpg);
    height: calc(25vh);
    margin-top: -00px;
  }
  img.pg6 {
    display: none;
    margin-left: -70px;
    max-width: 1500px;
  }
  div.teles {
    background: no-repeat center/90% url(img/3cima.jpg);
    height: calc(25vh);
    margin-top: 0px;
  }

  div.cabeçalhopg8 {
    background: no-repeat center/93% url(img/cabeçalhopg8.jpg);
    height: 100px;
    margin-top: -250px;
    margin-left: -35px;
    width: 420px;
    height: 550px;
  }
  img.pg8 {
    display: none;
    margin-left: -70px;
    max-width: 1500px;
  }

  div.adad {
    background: no-repeat center/100% url(img/Pagina08_page-0001\ \(1\)\ -\ Copia.jpg);
    height: 100vh;
    transform: rotate(90deg);
    max-width: 250px;
    max-height: 1000px;
    margin-top: -550px;
    margin-left: 65px;
  }

  div.vera {
    background: no-repeat center/90% url(img/vera.jpg);
    height: calc(25vh);
    margin-top: -270px;
  }

  div.corti {
    background: no-repeat center/90% url(img/corti.jpg);
    height: calc(25vh);
    margin-top: -10px;
  }

  div.happy {
    background: no-repeat center/90% url(img/happy.jpg);
    height: calc(25vh);
    margin-top: -10px;
  }

  div.coquinho {
    background: no-repeat center/90% url(img/coquinho.jpg);
    height: calc(25vh);
    margin-top: -10px;
  }

  button.botao {
    margin-top: 970px;
  }
  img.pg9 {
    display: none;
  }

  div.cabeçalhopg9 {
    background: no-repeat center/93% url(img/cabeçalhopg09.jpg);
    height: 100px;
    margin-top: -250px;
    margin-left: -35px;
    width: 420px;
    height: 550px;
  }

  div.texto01 {
    background: no-repeat center/93% url(img/texto01.jpg);
    height: 100px;
    margin-top: -290px;
    margin-left: -35px;
    width: 420px;
    height: 550px;
  }
  
  div.texto02 {
    background: no-repeat center/93% url(img/texto02.jpg);
    height: 100px;
    margin-top: -100px;
    margin-left: -35px;
    width: 420px;
    height: 550px;
  }

  div.beto {
    background: no-repeat center/100% url(img/beto.jpg);
    height: calc(50vh);
    margin-top: -100px;
  }

  div.cabeçalhopg10 {
    background: no-repeat center/93% url(img/cabeçalhopg10.jpg);
    height: 100px;
    margin-top: -250px;
    margin-left: -35px;
    width: 420px;
    height: 550px;
  }

  div.texto01pg10 {
    background: no-repeat center/93% url(img/texto01pg10.jpg);
    height: 100px;
    margin-top: -290px;
    margin-left: -35px;
    width: 420px;
    height: 550px;
  }

  div.texto02pg10 {
    background: no-repeat center/93% url(img/texto02pg10.jpg);
    height: 100px;
    margin-top: -100px;
    margin-left: -35px;
    width: 420px;
    height: 550px;
  }

  
  div.xadrez {
    background: no-repeat center/93% url(img/xadrez.jpg);
    height: 100px;
    margin-top: -295px;
    margin-left: -35px;
    width: 420px;
    height: 550px;
  }

  div.xadrez01 {
    background: no-repeat center/93% url(img/xadrez01.png);
    height: 100px;
    margin-top: -335px;
    margin-left: -35px;
    width: 420px;
    height: 550px;
  }

  div.xadrez02 {
    background: no-repeat center/93% url(img/xadrez02.png);
    height: 100px;
    margin-top: -250px;
    margin-left: -35px;
    width: 420px;
    height: 550px;
  }

  div.lenzi {
    background: no-repeat center/100% url(img/lenzi.jpg);
    height: calc(80vh);
    margin-top: -400px;
  }

  div.cabeçalhopg11 {
    background: no-repeat center/93% url(img/cabeçalhopg11.jpg);
    height: 100px;
    margin-top: -250px;
    margin-left: -35px;
    width: 420px;
    height: 550px;
  }

  div.texto01pg11 {
    background: no-repeat center/93% url(img/texto01pg11.jpg);
    height: 100px;
    margin-top: -290px;
    margin-left: -35px;
    width: 420px;
    height: 550px;
  }

  div.texto02pg11 {
    background: no-repeat center/93% url(img/texto02pg11.jpg);
    height: 100px;
    margin-top: -100px;
    margin-left: -35px;
    width: 420px;
    height: 550px;
  }

  div.happy {
    background: no-repeat center/100% url(img/happy1.jpg);
    height: calc(50vh);
    margin-top: -130px;
  }

  div.kunen {
    background: no-repeat center/100% url(img/kunen.jpg);
    height: calc(100vh);
    margin-top: -270px;
  }

  div.natal {
    background: no-repeat center/100% url(img/natal.jpg);
    height: calc(100vh);
    margin-top: -570px;
  }
  /* From Uiverse.io by zaeniahmad-id */ 
/* OOP CSS CODE from Zaeni Ahmad */
.card {
  position: fixed;
  margin-top: -1050px;
  width: fit-content;
  height: fit-content;
  background-color: rgba(49, 49, 49, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 15px;
  gap: 15px;
  overflow: hidden;
  border-radius: 27px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.card a {
  width: 52px;
  height: 52px;
  background-color: rgba(117, 117, 117, 0);
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.card a:hover {
  transform: scale(1.2);
  border-radius: 15px;
}
/*instagram*/
.card a:nth-child(1):hover {
  background-color: #d62976;
}
/* Whatsapp*/
.card a:nth-child(4):hover {
  background-color: #25d366;
}

.card a:active {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

/*first-child*/
.card a svg:first-child {
  display: flex;
  scale: 1.3;
  position: absoute;
  width: 17px;
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.card a svg:first-child path {
  fill: rgb(255, 255, 255);
}

.card a:hover svg:first-child {
  transform: translateY(-40px);
  opacity: 0;
}
/*last-child*/
.card a svg:last-child {
  display: flex;
  position: absolute;
  width: 17px;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.card a svg:last-child path {
  fill: rgb(255, 255, 255);
}

.card a:hover svg:last-child {
  opacity: 1;
  transform: translateY(0px);
}
    }
